@model ShoeStore.Models.Product
@using ShoeStore.Utils

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">@ViewData["Title"]</h1>

<div class="card mb-4">
    <div class="card-header">
        <h4>Thông tin sản phẩm</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Categories)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Categories.Name)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Price)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Price)</dd>

            <dt class="col-sm-3">Mô tả</dt>
            <dd class="col-sm-9">
                <div class="product-description">
                    @Html.Raw(Model.Description)
                </div>
            </dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DiscountPrice)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.DiscountPrice)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ImagePath)</dt>
            <dd class="col-sm-9">
                <a href="@Url.Content(Model.ImagePath)" target="_blank">
                    <img src="@Url.Content(Model.ImagePath)" alt="Product Image" style="max-width: 30%; height: auto; cursor: pointer;" />
                </a>
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UpdatedDate)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.UpdatedDate)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UpdatedBy)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.UpdatedBy)</dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.ProductId">Chỉnh sửa</a>
    <a class="btn btn-secondary" asp-action="Index">Quay lại danh sách</a>
</div>
