@model ShoeStore.Models.ContactUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ContactUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactUFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactULastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactULastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactUEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactUAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactUPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactUMessage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ContactUId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
