@model ShoeStore.Models.Slider

@{
    ViewData["Title"] = "Chi tiết Slider";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Chi tiết Slider</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">Tên Slider</dt>
            <dd class="col-sm-10">@Model.Name</dd>

            <dt class="col-sm-2">Tiêu đề</dt>
            <dd class="col-sm-10">@Model.Title</dd>

            <dt class="col-sm-2">Mô tả</dt>
            <dd class="col-sm-10">@Model.Description</dd>

            <dt class="col-sm-2">Liên kết</dt>
            <dd class="col-sm-10">@Model.Link</dd>

            <dt class="col-sm-2">Hình ảnh</dt>
            <dd class="col-sm-10">
                <img src="~/images/sliders/@Model.Img" class="img-thumbnail" style="max-width: 200px" />
            </dd>

            <dt class="col-sm-2">Thứ tự</dt>
            <dd class="col-sm-10">@Model.Sort</dd>

            <dt class="col-sm-2">Trạng thái</dt>
            <dd class="col-sm-10">@(Model.Status == 1 ? "Hiện" : "Ẩn")</dd>
        </dl>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.Slider_ID" class="btn btn-primary">Sửa</a>
            <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
        </div>
    </div>
</div>
